/* -- General stylings -- */
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* -- Splash screen stylings -- */
.splash-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  z-index: 20;
}

.splash-screen.none {
  display: none;
}

.splash-image {
  width: 50%;
  height: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* splash animation */
@keyframes fadeOut {
  to {
    opacity: 0;
  }
}

.fade-out {
  opacity: 1;
  animation: fadeOut 1s ease-in forwards;
}
